header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    background: linear-gradient(90deg, #5493CC, #8FF7D2);
}

header button {
    align-self: center;
    font-size: 22px;
    color: rgb(57, 57, 57);
    transition: 200ms;
}

header button:hover {
    letter-spacing: 2px;
    color: black;
    font-weight: 500;
}

header h1 {
    color: white;
}
