header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 15px 30px;
}

header button {
    align-self: center;
    font-size: 22px;
    color: rgb(192, 192, 192);
    transition: 200ms;
    padding: 0;
}

header button:hover {
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

header h1 {
    color: white;
}

.task {
    grid-column: 2;
    padding: 0;
    display: grid;
    column-gap: 20px;
    align-content: center;
    width: 7fr;
}

.task .left-content {
    grid-column: 1;
    align-self: center;
}

.task .id-input {
    grid-column: 2;
    align-self: center;
}

.task .first-middle-content {
    grid-column: 3;
    align-self: center;
}

.task .second-middle-content {
    grid-column: 4;
    align-self: center;
}

.task .right-content {
    grid-column: 5;
    align-self: center;
}

.task input {
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.task input::-webkit-input-placeholder {
    color: rgb(201, 201, 201);
    font-size: 15px;
}

.task-creator {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    row-gap: 15px;
}

.upper-panel {
    display: grid;
    grid-template-columns: 1fr 140px 70px 130px auto;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    border-radius: 0;
    padding: 0 0 15px 0;
    margin: 0;
    column-gap: 15px;
}

.upper-panel input {
    font-size: 18px;
    outline: none;
    border: none;
    font-weight: 300;
    background: none;
    color: white;
    letter-spacing: 1px;
}

.separator {
    grid-column: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    height: 1px;
}

.loaded-task {
    grid-column: 2;
    display: grid;
    grid-column-gap: 20px;
    align-content: center;
    border-width: 2px;
    padding: 15px;
}

.loaded-task:hover {
    border-color: rgb(157, 162, 255);
}

.student-side {
    grid-template-columns: 1fr repeat(3, auto);
}

.teacher-side {
    grid-template-columns: 1fr auto auto;
}

.task-text {
    grid-column: 1;
    align-self: center;
}

.left-time-text {
    align-self: center;
    grid-column: 2;
    width: fit-content;
}

.left-time-value {
    grid-column: 3;
    align-self: center;
    text-align: start;
}

.loaded-task i {
    color: white;
    align-self: center;
    font-size: 30px;
    font-weight: 100;
    grid-column: 4;
    width: fit-content;
}

p {
    color: white;
}

.task-action {
    align-self: center;
}

.more-link {
    grid-column: 2;
    align-self: center;
    outline: none;
    color: white;
    text-decoration: none;
}

.teacher-task-action {
    grid-column: 3;
}

.content a {
    display: block;
    text-decoration: none;
    outline: none;
}

/* .task-list {
    grid-column: 2;
    display: grid;
    grid-template-columns: 30px 1fr 15px;
    overflow-y: scroll;
}

.task-list ul {
    grid-column: 2;
}

.task-list li {
    outline: none;
    list-style: none;
    position: relative;
    left: -25px;
    margin-bottom: 20px;
} */

.invisible-footer {
    height: 30px;
}

#drop-zone {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    height: 80px;
    transition: 150ms;
}

#choose-file-or-clean-input {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.25);
    display: grid;
    padding: 5px 10px;
    grid-template-columns: auto 20px auto;   
}

#choose-file-button {
    grid-column: 1;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    height: auto;
}

#clear-button {
    grid-column: 3;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    height: auto;
}

#separator {
    grid-column: 2;
}

.info {
    margin: 0;
    padding: 0;
}

.log-paragraph /* generated with JavaScript */ {
    margin-bottom: 0;
    position: relative;
    left: 10px;
}
