.form-header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-header button {
    outline: none;
    border: none;
    background: none;
}

.form-header i {
    font-size: 25px;
    vertical-align: middle;
    color: white;
    transition: 200ms;
}

.form-header button:hover i {
    font-weight: 700;
}

h1 {
    font-size: 20px;
    letter-spacing: 1px;
    padding-right: 10px;
}

p {
    color: white;
}

.role-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    background: none;
    outline: none;
    margin: 5px;
    border: 0px solid;
    justify-content: center;
    color: white;
}

select option {
    color: white;
    background: none;
}
